<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Test Driven Reuse"
            id="TestDrivenReuse">
      </category>
      <view
            name="Search Results"
            icon="icons/sample.gif"
            category="TestDrivenReuse"
            class="ca.ucalgary.cpsc.ase.querymanager.views.ResultView"
            id="ca.ucalgary.cpsc.ase.querymanager.views.ResultView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="ca.ucalgary.cpsc.ase.querymanager.views.ResultView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="TDR"
            visible="true"
            id="ca.ucalgary.cpsc.ase.querymanager.actionSet">
         <menu
               label="TDR"
               id="tdrMenu">
            <separator
                  name="tdrGroup">
            </separator>
         </menu>
         <action
               label="&amp;Search"
               icon="icons/sample.gif"
               class="ca.ucalgary.cpsc.ase.querymanager.actions.SearchAction"
               tooltip="Find similar test cases"
               menubarPath="tdrMenu/tdrGroup"
               toolbarPath="tdrGroup"
               id="ca.ucalgary.cpsc.ase.querymanager.actions.SearchAction">
         </action>
      </actionSet>
   </extension>

</plugin>
